@import "variables";
@import "mixins";

body { 
	background: #ffffff;
	@include garamond-font-family;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    text-rendering: optimizeLegibility;
}
.test {
	color: #ccc;
}

