
//colors
$color-primary: #CCCCCC; 
$color-secondary: #000000;
$color-accent: #FFFFFF; 

//sexy fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400,600,700);

$roboto-font: 'Roboto Slab';
$garamond-font: 'Garamond';