
//colors
$color-primary: #BB9236;
$color-secondary: #3C4E5C;

//pretty fonts
@import url(https://fonts.googleapis.com/css?family=Volkhov:400,400italic|Prata|Oswald:300,400|Halant);

$body-font: 'Halant';
$h1-font: 'Prata';
$h2-font: 'Prata';
$h3-font: 'Oswald';
